name: CI Build

on:
  pull_request:
    paths-ignore:
      - '*.commits'
      - '*.markdown'
      - '**/*.markdown'

env:
  LC_ALL: en_US.UTF-8

jobs:
  CheckSourceFormatting:
    name: Check source formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up JDK8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        shell: bash
        run: |
          ./gradlew --no-daemon checkSourceFormatting
  LinuxJDK8:
    name: Linux JDK8
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup Java 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'zulu'
          cache: gradle
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        shell: bash
        env:
          GITHUB_CI: "true"
        run: |
          ./run-tests.sh
  LinuxJDK11:
    name: Linux JDK11
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11.0.20
          distribution: 'zulu'
          cache: gradle
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        shell: bash
        env:
          GITHUB_CI: "true"
        run: |
          ./run-tests.sh
      - name: Upload tests zip
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: LinuxJDK11-tests.zip
          path: tests.zip
  #MacOSJDK11:
  #  name: MacOS JDK11
  #  runs-on: macos-latest
  #  timeout-minutes: 60
  #  steps:
  #    - name: Check out repository
  #      uses: actions/checkout@v3
  #    - name: Setup Java 11
  #      uses: actions/setup-java@v3
  #      with:
  #        java-version: 11.0.20
  #        distribution: 'zulu'
  #        cache: gradle
  #    - name: Cache
  #      uses: actions/cache@v3
  #      with:
  #        path: ~/.gradle/caches
  #        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
  #        restore-keys: |
  #          ${{ runner.os }}-gradle-
  #    - name: Build
  #      shell: bash
  #      env:
  #        GITHUB_CI: "true"
  #      run: |
  #        ./run-tests.sh
  #    - name: Upload tests zip
  #      uses: actions/upload-artifact@v3
  #      if: failure()
  #      with:
  #        name: MacOSJDK11-tests.zip
  #        path: tests.zip
  #    - name: Run reporter
  #      uses: check-run-reporter/action@v2.0.0
  #      if: ${{ always() }}
  #      with:
  #        label: "MacOS JDK11 test reports"
  #        report: "**/TEST-*.xml"
  #        token: "7793a209-c075-4644-9bdb-9205dbe5c4e7"
